body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-styling{
  background-color: #051524;
}

.bg-styling-card{
  background-color: #051524f5;
  border-radius: 30px;
  border-width: 0px;
}

.dark{
  background-color: #061320;
  width: 100%;
  height: 10%;
  margin-bottom:30% ;
  
}
.white{
  background-image: url("https://images.pexels.com/photos/3987013/pexels-photo-3987013.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
}

.skills-bg{
  background-color: white;
 color: black;
}

.project-bg{
  background-color: #dae0e5;
}

.button {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
  text-justify: auto;
  border-radius: 10px;
  min-height: 40px;
  min-width: 150px;
}
.button::after {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
  text-justify: auto;
  border-radius: 10px;
  min-height: 40px;
  min-width: 150px;
}

.dark_text{
  color: black;
}

.button:hover{
  background-color: #007bff;
  color: white;
}

.justify {
  text-align: justify;
  text-justify: inter-word;
}

.progress-bar-cust{
  height:35px;
  border-radius: 20px;
  animation: progress-1 10s ease-in;
  animation-play-state:running;
}

.progress-bar-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  background-color: #052446;
  border-radius: 20px;
  
}


@keyframes progress-1 {
    from {
        width: 15%;
    }
    to {
        width: 100%;
    }
}



.card-flip {
  perspective: 1000px;
  
}
.card-flip:hover .flip,
  .card-flip.hover .flip {
    transform: rotateY(180deg);
  }

.card-flip,
.front,
.back {
  width: 100%;
  height: 480px;
}

.flip {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}

.card-img{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  opacity: 50%;
  height: 250px;
}

.vertical-center{
  position: absolute;
  
  top: 50%;
  
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}






*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



 button, input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}




.screen {
  position: relative;
  background: #051524;
  border-radius: 15px;
}


.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #051524;
}

.screen-header-left {
  margin-right: auto;
}




.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: white;
  font-size: 26px;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: white;
}

.app-contact {
  margin-top: auto;
  font-size: 12px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #007bff;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: white;
}

.credits {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #ffa4bd;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.credits-link {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}
